<%= link_to "Back to Home", root_path %>
<div class="center">
  <h1>Survey Taker:</h1>
  <hr>
</div>
<h3><%= @survey.title %></h3>
<h4><%= @survey.description %></h4>
<div class="muted">
  <p>Questions marked with an asterisk(*) required</p>
</div>
<hr>
